{% extends "base.html" %}

{% block content %}

<main>
    <aside class="sidebar">
        <h2>Library</h2>
        <ul>
            <li> </li>
            <li><a href="#">All Tracks</a></li>
            <li><a href="#">Albums</a></li>
            <li><a href="#">Favorites</a></li>
            <li><a href="#">Artists</a></li>
        </ul>
    </aside>
    <div class="track-list-container">
        <table class="track-list">
            <thead>
                <tr>
                    <th> </th>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                <!-- {% for track in tracks %} -->
                <tr>
                    <td>
                        <button aria-label="Play">
                            <i onclick="playAudio('{{ track.path }}', '{{ track.title }}')" class="fas fa-play"></i>
                        </button>
                    </td>
                    <td>{{ track.title }}</td>
                    <td>{{ track.artist.name }}</td>
                    <td>{{ track.album.title }}</td>
                    <td>{{ track.date }}</td>
                </tr>
                <!-- {% endfor %} -->
            </tbody>
        </table>
    </div>

</main>

{% endblock %}

{% block footer %}
{{ super() }}
{% include "player.html" %}
{% endblock %}